@import "_mixins/font-face"

// +font-face("Raleway-Thin", "../fonts/Raleway-Thin/Raleway-Thin")
// +font-face("Raleway-Regular", "../fonts/Raleway-Regular/Raleway-Regular")
// +font-face("Raleway-Bold", "../fonts/Raleway-Bold/Raleway-Bold")

+font-face("Gilroy-Light", "../fonts/Gilroy-Light/Gilroy-Light") 
+font-face("RobotoBold", "../fonts/RobotoBold/RobotoBold") 


// +font-face("Catamaran-SemiBold", "../fonts/Catamaran-SemiBold/Catamaran-SemiBold")
// +font-face("Catamaran-Regular", "../fonts/Catamaran-Regular/Catamaran-Regular")
// +font-face("Catamaran-Light", "../fonts/Catamaran-Light/Catamaran-Light")
// +font-face("Catamaran-Bold", "../fonts/Catamaran-Bold/Catamaran-Bold")

@font-face 
	font-family: fontello
	src: url(../fonts/fontello/fontello.eot)
	src: url(../fonts/fontello/fontello.eot) format('embedded-opentype'), url(../fonts/fontello/fontello.woff) format('woff'), url(../fonts/fontello/fontello.ttf) format('truetype'), url(../fonts/fontello/fontello.svg) format('svg')
	font-weight: normal
	font-style: normal