@import "vars"
@import "fonts"
@import "libs"

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1
	font-family: $default-font
	font-weight: 400
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.wrapper
	overflow: hidden
	position: relative
	max-width: 1920px
	margin: 0 auto
	&__bg
		position: absolute
		top: 15.7%
		left: 0
		z-index: 0

.section
	padding: 150px 0
	&--no-pad
		padding: 0
	&--no-pt
		padding-top: 0
	&--no-pb
		padding-bottom: 0
	&--only-pt
		padding: 150px 0 0 0
	&--only-pb
		padding: 0 0 150px 0
	&--small-pad
		padding: 90px 0
	&--small-pt
		padding-top: 90px
	&--small-pb
		padding-bottom: 90px

.animated
	opacity: 0
// reset styles start
ul
	margin: 0 
	padding: 0
	list-style-type: none

p
	margin: 0 
	padding: 0

h1,h2,h3,h4,h5,h6
	margin: 0
	padding: 0

a
	&:hover
		outline: none
		text-decoration: none
	&:focus
		outline: none
		text-decoration: none

input, button
	&:hover,&:focus
		outline: none
// reset styles end

// base classes start 
.block-header
	&--center
		text-align: center


.title
	font-family: $Raleway
	font-weight: 700
	&--white
		color: #ffffff
	&--black
		color: $black
	&--big
		font-size: 60px
		span
			font-size: 40px
			display: block
			font-family: $Raleway
			font-weight: 100
	&--medium
		font-size: 40px
		line-height: 45px
	&--middle
		font-size: 40px
		line-height: 45px
	
.subtitle
	font-size: 12px
	letter-spacing: 1.2px
	color: #f4929b
	text-transform: uppercase
	font-family: $Catamaran
	font-weight: 700
	margin-bottom: 30px
	&--tire 
		padding-left: 50px
		position: relative
		&:after
			content: ""
			position: absolute
			top: 50%
			transform: translateY(-50%)
			width: 40px
			left: 0
			border-bottom: 1px solid #f4929b

.text
	line-height: 30px
	&--white
		color: #ffffff

.social-list
	display: flex
	justify-content: center
	align-items: center
	&__item
		margin-right: 10px
		&:last-child
			margin-right: 0
	&__link
		width: 40px
		height: 40px
		border: 1px solid rgba(255,255,255,0.5)
		position: relative
		transition: border 0.4s
		display: block
		border-radius: 50%
		.fontello-icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&:hover
			border: 1px solid rgba(255,255,255,1)

.fontello-icon 
	font-family: fontello
	font-style: normal
	font-weight: normal
	speak: none
	display: inline-block
	text-decoration: inherit
	text-align: center
	font-variant: normal
	text-transform: none
	line-height: 1em
	color: #fff

.btn
	border-radius: 5px
	height: 50px
	line-height: 52px
	background-color: $purpure
	color: #ffffff
	transition: background-color 0.4s
	font-size: 16px
	display: inline-block
	border: none
	&--medium
		padding: 0 32px
	&:hover
		background-color: #333333
		color: #ffffff


// base classes end

// header start
.header
	position: absolute
	top: 0px
	left: 0
	width: 100%
	z-index: 10
	height: 90px
	padding: 0 40px
	display: flex
	justify-content: space-between
	align-items: center
	&__right
		display: flex
		align-items: center
	&.sticky
		position: fixed
		top: 0
		left: 0
		width: 100%	
		background-color: #ffffff
		z-index: 11
		height: 90px
		border-bottom: 1px solid #f5f5f5
		transition: background-color 0.4s
		padding: 0 40px
		.logo
			&__title
				color: #777777
			&__img
				background-image: url(../img/Logo_gradient.svg)
		.menu
			&__link
				color: #777777
				&:after
					border-bottom: 2px solid $purpure
		.select-styled
			color: #777777
			&:after
				background-image: url(../img/down-chevron-grey.svg)
		.btn-sign-up
			color: #777777
			&:hover
				color: $purpure
		.btn-menu
			div
				background-color: #777777
				&.one, &.three
					&:after
						background-color: #777777
	
			
					
.logo
	display: flex
	align-items: center
	transition: 0.4s
	position: relative
	top: -3.5px
	&__img
		width: 45px
		height: 51px
		background-image: url(../img/Logo_white.svg)
		background-size: contain
		background-position: center
		background-repeat: no-repeat
		margin-right: 13px
	&__img--big
		width: 62px
	&__title
		font-size: 30px
		color: #fff
		font-family: "Gilroy-Light"
	&:hover
		opacity: 0.5
	&--color
		.logo__img
			background-image: url(../img/Logo_gradient.svg)
		.logo__title
			color: #777777

.btn-menu
	position: relative
	justify-content: center
	align-items: flex-end
	flex-direction: column
	cursor: pointer
	text-align: right
	margin-left: 25px
	display: none
	div
		width: 32px
		height: 3px
		min-height: 3px
		transition: 0.3s
		backface-visibility: hidden
		-moz-transition-duration: 0.3s
		-o-transition-duration: 0.3s
		-webkit-transition-duration: 0.3s
		transition-duration: 0.3s
		margin-bottom: 6px
		border-radius: 1.5px
		position: relative
		background-color: #fff
		&:first-child
			&:after
				content: ''
				position: absolute
				top: 0
				right: 0
				width: 100%
				height: 100%
				background-color: #fff
				border-radius: 1.5px
				transition: 0.4s
		&:last-child
			margin-bottom: 0
			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: #fff
				border-radius: 1.5px
				transition: 0.4s

	&.on
		top: -5px

.btn-menu.on .one 
	transform: rotate(45deg) translate(6px, 2px)
	margin-bottom: 0
	&:after
		width: 100%
		background-color: #777777

.btn-menu.on .two
	opacity: 0
	margin-bottom: 0

.btn-menu.on .three 
	transform: rotate(-45deg) translate(2px, 2px)
	width: 32px
	margin-bottom: 0
	&:after
		width: 100%
		background-color: #777777

.fixed-menu
	position: fixed
	background-color: #fff
	width: 100%
	height: 100%
	left: 0
	top: 0
	z-index: 12
	visibility: hidden
	overflow-x: hidden
	overflow-y: scroll
	opacity: 0
	transition: 0.4s 
	&.open
		visibility: visible
		display: block	
		opacity: 1	
	&__header
		width: 100%
		height: 90px
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0px 40px 0
	&__content
		padding: 20px 90px 0 
	.select-styled, .btn-sign-up
		color: #777777
	.select
		margin-bottom: 30px
	.btn-wrap
		display: flex
	.btn-menu
		div
			background-color: #777777
			&.one, &.three
				&:after
					background-color: #777777

.btn-close
	svg
		width: 28px
		height: 28px
		path
			fill: #777777


.mob-menu
	margin-bottom: 40px
	&__item
		text-align: left
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
	&__link
		color: #777777
		position: relative
		transition: 0.2s
		white-space: nowrap
		&:after
			content: ''
			position: absolute
			bottom: 0px
			left: 0
			width: 100%
			border-bottom: 2px solid $purpure
			transition: 0.4s
			opacity: 0
		&:hover
			color: #777777
			&:after
				opacity: 1

.menu
	display: flex
	align-items: center
	&__item
		margin-right: 35px
		&:last-child
			margin-right: 0
	&__link
		color: #ffffff
		position: relative
		transition: 0.2s
		white-space: nowrap
		&:after
			content: ''
			position: absolute
			bottom: -9px
			left: 0
			width: 100%
			border-bottom: 2px solid #ffffff
			transition: 0.4s
			opacity: 0
		&:hover
			color: #ffffff
			&:after
				opacity: 1

.select-hidden
	display: none
	visibility: hidden
	padding-right: 10px

$background: #e74c3c
$select-color: #fff
$select-background: #000

.select
	cursor: pointer
	display: inline-block
	position: relative
	color: $select-color
	width: 35px
	height: 30px
	font-size: 16px
	color: #ffffff
	box-sizing: border-box
	margin-right: 30px
.select-styled 
	position: absolute 
	top: 50%
	transform: translateY(-50%)
	left: 0
	border-radius: 0px
	transition: 0.4s
	color: #ffffff
	font-size: 16px
	text-transform: uppercase
	z-index: 1
	&:after
		content: ""
		width: 10px
		height: 6px
		background-image: url(../img/down-chevron.svg)
		background-size: 10px 6px
		background-repeat: no-repeat
		position: absolute
		top: 3px
		right: -15px
		transition: 0.4s
	&:focus
		outline: none
		text-decoration: none
	&:active, &.active
		color: rgba(255,255,255,0.5)
		&:after
			transform: rotateX(-180deg)
			opacity: 0.5
	&:hover
		color: rgba(255,255,255,0.5)
		&:after
			opacity: 0.5

.select-options 
	display: none
	width: 80px
	background-color: #fff
	position: absolute
	top: 45px
	right: 0px
	z-index: 2
	margin: 0
	padding: 0
	list-style: none
	padding: 24px 28px 22px 29px
	&:before
		content: ''
		position: absolute
		top: -10px
		right: 0
		width: 0
		height: 0
		border-left: 10px solid transparent
		border-right: 0px solid transparent
		border-bottom: 10px solid #fff
	li
		color: #ffffff
		margin: 0
		transition: 0.4s
		font-size: 16px
		text-transform: uppercase
		color: #777777
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
		&:hover 
			opacity: 0.5
		&[rel="hide"] 
			display: none

.btn-sign-in
	width: 92px
	height: 40px
	border-radius: 5px
	background-color: $purpure
	line-height: 40px
	color: #ffffff
	font-size: 16px
	text-align: center
	display: block
	transition: 0.4s
	white-space: nowrap
	margin-right: 22px
	&:hover
		color: #fff
		background-color: #333333

.btn-sign-up
	height: 40px
	line-height: 40px
	color: #ffffff
	font-size: 16px
	white-space: nowrap
	transition: 0.4s
	&:hover
		color: rgba(255,255,255,0.5)
// header end

// first scren start 
.promo
	background-color: #ffffff
	padding-top: 100px
	position: relative
	height: 814px
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: url(../img/mainBg.png)
		background-position: bottom center
		background-repeat: no-repeat
		z-index: 2
	.container
		position: relative
		z-index: 3
	&__bg
		position: absolute
		bottom: -122vh
		right: 0
		z-index: 0
	&__subtitle
		color: #ffffff
		font-size: 20px
		margin-bottom: 25px
		font-family: "Gilroy-Light"
	&__title
		margin-bottom: 35px
	p
		max-width: 600px
		margin-bottom: 56px
		line-height: 30px
		color: #fff
	&__img
		position: absolute
		top: -100px
		right: -200px
	.container
		position: relative
		height: 100%
	.row
		height: 100%



// first screnn end 

// form styles start
.form
	&__input
		height: 55px
		line-height: 55px
		padding: 0 25px
		border-radius: 5px
		border: none
		background-color: rgba(255,255,255,0.24)
		transition: 0.2s
		font-size: 16px
		color: $black
		font-family: $Catamaran
		font-weight: 300
		&:hover, &:focus, &.in
			background-color: rgba(255,255,255,1)
			&::placeholder
				color: $black
				opacity: 0.5
		&::placeholder
			color: #ffffff
			opacity: 0.5
			transition: 0.4s
		&.error
			border: 1px solid red
	&__btn
		height: 55px
		border-radius: 5px
		background-color: #ffffff
		line-height: 55px
		border: none
		font-size: 14px
		letter-spacing: 0.7px
		text-transform: uppercase
		color: #a16da5
		font-family: $Catamaran
		font-weight: 600
		padding: 0
		transition: 0.4s
		cursor: pointer
		&:hover
			background-color: $purpure
			color: #ffffff

.join-us
	&__input
		width: 344px
		margin-right: 14px
	&__btn
		width: 134px
// form styles end

// partners block start
.partners
	// padding: 83px 0 189px
	&__logoes
		display: flex
		align-items: center
		justify-content: space-between
	&__logo
		img
			opacity: 0.25
			transition: 0.4s
		&:hover
			img
				opacity: 0.5
	.block-header
		margin-bottom: 34px
	&--big-margin
		margin-bottom: 150px
// partners block end

// about block start
.about
	// padding-bottom: 150px
	position: relative
	&__first-row
		margin-bottom: 150px

	.block-header
		margin-bottom: 43px
	p
		margin-bottom: 38px
		color: #777777
		line-height: 30px

	&__list-marker
		li
			color: #777777
			margin-bottom: 12px
			padding-left: 23px
			position: relative
			line-height: 30px
			&:last-child
				margin-bottom: 0
			&:before
				content: ''
				position: absolute
				top: 11px
				left: 0
				width: 5px
				height: 5px
				background-color: #8761a8
				border-radius: 50%
	&__list-check
		li
			color: #777777
			margin-bottom: 12px
			padding-left: 23px
			position: relative
			line-height: 30px
			span
				font-family: $Catamaran
				font-weight: 700
			&:last-child
				margin-bottom: 0
			&:before
				content: ''
				position: absolute
				top: 11px
				left: 0
				width: 13px
				height: 9px
				background-image: url(../img/check.svg)
				background-size: contain
				background-repeat: no-repeat
	&__img-1
		position: absolute
		bottom: 32px
		right: 0
	&__img-2
		position: absolute
		top: 32px
		left: 0
	.row
		position: relative

.video-btn
	box-shadow: 0 0 21px rgba(56, 56, 56, 0.79)
	background-color: $purpure
	width: 115px
	height: 115px
	background-image: url(../img/video-btn-icon.svg)
	background-position: center
	background-repeat: no-repeat
	transition: 0.4s
	border-radius: 50%
	position: absolute
	right: -200px
	top: 50%
	transform: translateY(-50%)
	cursor: pointer
	&:hover
		background-color: #333333
// about block end

// service block start
.service
	// padding-bottom: 150px
	position: relative
	z-index: 1
	
	.block-header
		margin-bottom: 74px
	.col-md-6
		&:nth-child(1)
			.service__item
				border: 5px solid #16bf86
				.service__btn
					background-color: #16bf86
					&:hover
						background-color: #333333
						color: #fff
		&:nth-child(2)
			.service__item
				border: 5px solid #5874cf
				.service__btn
					background-color: #5874cf
					&:hover
						background-color: #333333
						color: #fff
		&:nth-child(3)
			.service__item
				border: 5px solid #f09790
				.service__btn
					background-color: #f09790
					&:hover
						background-color: #333333
						color: #fff
		&:nth-child(4)
			.service__item
				border: 5px solid #ffae57
				.service__btn
					background-color: #ffae57
					&:hover
						background-color: #333333
						color: #fff
	&__item
		padding: 50px 5px 38px
		background-color: #fff
		text-align: center
		border-radius: 7px
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
	&__item-icon
		width: 71px
		height: 71px
		margin: 0 auto 42px
		display: flex
		justify-content: center
		align-items: center
	&__item-title
		font-size: 20px
		color: #333333
		font-family: $Raleway
		font-weight: 700
		margin-bottom: 24px
	p
		color: #777777
		line-height: 30px
		margin-bottom: 46px
	&__btn
		box-shadow: 0 0 20px rgba(31, 109, 86, 0.25)
		border-radius: 5px
		width: 180px
		height: 55px
		line-height: 55px
		color: #ffffff
		text-transform: uppercase
		text-align: center
		letter-spacing: 0.7px
		font-family: $Catamaran
		font-weight: 600
		font-size: 14px
		display: block
		margin: 0 auto
		transition: 0.4s
		
// service block end

// road map start
.map
	// padding-bottom: 150px
	position: relative
	&__bg
		position: absolute
		left: 0
		bottom: 0
		z-index: 0
	.block-header
		margin-bottom: 100px
	
.road
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 100px
	&__item
		position: relative
		&:before
			content: ''
			position: absolute
			width: 135px
			border-bottom: 1px solid $purpure
			bottom: 50%
			transform: translateY(-50%)
			right: -135px
		&:last-child
			&:before
				display: none
	&__item-metka
		width: 17px
		height: 17px
		border: 2px solid $purpure
		border-radius: 50%
		background-color: #fff
	&__item-title
		position: absolute
		top: -35px
		left: calc(-135px / 2 + 6.5px)
		font-size: 14px
		font-family: $Raleway
		font-weight: 700
		color: #333333
		white-space: nowrap
		text-align: center
		width: 135px
	p
		text-align: center
		width: 135px
		color: #777777
		font-size: 18px
		line-height: 25px
		position: absolute
		top: 91px
		left: calc(-135px / 2 + 8.5px)
		&:before
			content: ''
			width: 1px
			border-left: 1px solid #e2e2e2
			height: 47px
			position: absolute
			top: -70px
			left: 50%
			transform: translateX(-50%)
	&__item-active
		position: relative
		&:before
			border-bottom: 1px dashed $purpure
		.road
			&__item-metka
				width: 30px
				height: 30px
				border: 2px solid $purpure
				position: relative
				&:after
					content: ''
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					width: 15px
					height: 15px
					background-color: #f09790
					border-radius: 50%
			&__item-title
				top: -28px
		p
			left: calc(-135px / 2 + 15.5px)
			top: 98px
			&:before
				height: 43px
				top: -64px
	&__item-next
		&:before
			border-bottom: 1px dashed $purpure
// road map end

// process start block 
.process
	// padding: 150px 0 
	background-image: url(../img/team.jpg)
	background-repeat: no-repeat
	background-size: cover
	z-index: 1
	position: relative
	.block-header
		margin-bottom: 97px
	&__steps
		display: flex
		justify-content: space-between
		align-items: flex-start
	&__step
		text-align: center
		position: relative
		&:last-child
			margin-right: 0
			&:after
				display: none
		&:after
			content: ''
			position: absolute
			height: 35px
			top: 10px
			width: 200px
			background-image: url(../img/process-arr-line.svg)
			background-position: center
			background-repeat: no-repeat
		&:nth-child(1)
			&:after
				right: -215px
		&:nth-child(2)
			&:after
				right: -230px
		&:nth-child(3)
			&:after
				right: -190px
	&__step-icon
		width: 60px
		height: 60px
		margin: 0 auto 26px
		display: flex
		justify-content: center
		align-items: center
	&__step-title
		font-family: $Raleway
		font-weight: 700
		color: #ffffff
		line-height: 30px
	
// process end block

// statistics block start
.stat
	padding: 150px 0
	.block-header
		margin-bottom: 37px
	p
		color: #777777
		max-width: 444px
		line-height: 30px
		margin-bottom: 42px
	&__designations
		color: #777777
		font-family: $Catamaran
		font-weight: 700
		li
			position: relative
			margin-bottom: 27px
			padding-left: 34px
			&:last-child
				margin-bottom: 0
			&:before
				content: ""
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				width: 14px
				border-radius: 2.5px
				overflow: hidden
				height: 5px
			&:nth-child(1)
				&:before
					background-color: #8761a8
			&:nth-child(2)
				&:before
					background-color: #f09790
			&:nth-child(3)
				&:before
					background-color: #ffae57
			&:nth-child(4)
				&:before
					background-color: #16bf86
			&:nth-child(5)
				&:before
					background-color: #5874cf
	&__first-row
		position: relative
		margin-bottom: 143px
	&__graphic
		position: absolute
		bottom: -30px
		right: 0
		

.counter
	&__item
		text-align: center
	&__item-title
		color: #333333
		font-family: $Raleway
		font-weight: 700
		margin-bottom: 25px
	&__item-value
		font-family: $Roboto
		font-weight: 700
		font-size: 40px
	&__item-value--blue
		color: #5874cf
	&__item-value--pink
		color: #f09790
	&__item-value--green
		color: #16bf86
	&__item-value--purpure
		color: #8761a8
	&__item-value--percent
		&:after
			content: "%"
// stat block end


// faq block start
.faq
	// padding: 150px 0 104px
	.block-header
		margin-bottom: 85px
	&__item
		margin-bottom: 44px
	&__item-title
		font-size: 20px
		line-height: 30px
		color: #333333
		font-family: $Raleway
		font-weight: 700
		margin-bottom: 21px
	p
		color: #777777
		line-height: 30px
	.col-lg-6
		.faq__item
			&:last-child
				margin-bottom: 0
	
// faq block end

// app block start
.app
	background-color: #fcfcfc
	// padding: 163px 0 160px
	overflow: hidden
	position: relative
	background-image: url(../img/token.png)
	background-repeat: no-repeat
	background-position: right center
	background-attachment: fixed
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		width: 50%
		height: 100%
		
	.block-header
		margin-bottom: 38px
	p
		color: #777777
		margin-bottom: 
		line-height: 30px
		margin-bottom: 46px
	&__dowload-links
		display: flex
		justify-content: flex-start
		align-items: center
	&__link
		&:first-child
			margin-right: 7px
	&__iphone
		position: absolute
		bottom: 0
		right: 20%
		z-index: 2

		
// app block end

// ico open block start
.ico
	&__body
		position: relative
		padding: 100px 0
		&:before
			content: ''
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-image: linear-gradient(to right, #8761a8 0%, #f4929b 100%)
		&:after
			content: ''
			position: absolute
			top: 10px
			left: 10px
			width: calc(100% - 20px)
			height: calc(100% - 20px)
			background-color: #fff
			z-index: 2
	&__content
		position: relative
		z-index: 3
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
	&__title
		font-size: 40px
		color: #51475a
		margin-bottom: 100px
		font-family: Raleway
		font-weight: 700
	&__bar
		max-width: 770px
		margin: 0 auto 65px
		width: 100%
		height: 42px
		position: relative
		background-image: url(../img/ico-bar-bg.jpg)
		border-radius: 5px
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 50%
			background-image: linear-gradient(to right, #8761a8 0%, #f4929b 100%)
			border-radius: 5px
	&__bar-marker
		position: absolute
		top: -30px
	&__bar-marker--800
		left: 2%
	&__bar-marker--23
		left: 25%
	&__bar-marker--5
		left: 45%
	&__bar-marker--9
		right: 17%
	&__bar-marker-title
		font-size: 15px
		font-family: $Catamaran
		font-weight: 700
		text-transform: uppercase
		color: #404040
		position: relative
		font-family: $Roboto
		font-weight: 700
		&:after
			content: ''
			position: absolute
			top: 17px
			z-index: 3
			left: 50%
			transform: translateX(-50%)
			height: 68px
			border-left: 2px solid #c0c0c0 
	&__bar-max-value
		position: absolute
		top: 50%
		right: 14px
		transform: translateY(-50%)
		font-size: 14px
		color: #404040
		text-transform: uppercase
		font-family: $Roboto
		font-weight: 700
	&__row
		width: 100%
		max-width: 770px
		display: flex
		justify-content: space-between
		align-items: flex-end
	&__timer-title
		font-size: 20px
		color: #51475a
		font-family: $Raleway
		font-weight: 700
		margin-bottom: 22px
	.btn
		margin-bottom: 22px

.timer
	display: flex
	align-items: flex-start
	&__item
		width: 66px
		margin-right: 14px
		&:last-child
			margin-right: 0
	&__value
		width: 66px
		height: 64px
		background-color: #f2f2f2
		border-radius: 5px
		display: flex
		justify-content: center
		align-items: center
		color: #f0909b
		font-family: $Roboto
		font-weight: 700
		font-size: 40px
		margin-bottom: 8px
		position: relative
	&__item-title
		font-size: 16px
		color: #333333
		font-family: $Raleway
		font-weight: 700
		text-align: center

// ico open block end

// token block start 
.token
	// padding: 150px 0
	position: relative
	&:before
		content: ''
		width: 797px
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-image: url(../img/tokenBg-cut.png)
		background-position: center left
		background-repeat: no-repeat
		background-size: cover
	.block-header
		margin-bottom: 58px
	&__info-list
		margin-bottom: 48px
		li
			font-family: $Catamaran
			font-weight: 400
			color: #888a8b
			margin-bottom: 35px
			display: flex
			span
				width: 140px
				color: #404040
				font-family: $Catamaran
				font-weight: 700
			&:last-child
				margin-bottom: 0	
	&__desc
		margin-bottom: 46px
	&__desc-title
		color: #333333
		font-size: 25px
		font-family: $Raleway
		font-weight: 700
		margin-bottom: 27px
	&__desc-text
		line-height: 30px
		color: #777777
		p
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
// token block end

// dosc block start
.docs
	.block-header
		margin-bottom: 52px
	
.doc
	display: flex
	padding-left: 28px
	padding-right: 28px
	line-height: 20px
	position: relative
	width: calc(100% - 25px)
	border: 1px solid #d9d9d9
	height: 77px
	align-items: center
	border-radius: 5px
	&:after
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: -24px
		width: 51px
		height: 55px
		background-image: url(../img/pdf.svg)
		background-repeat: no-repeat
		background-size: contain
	&__name
		color: #333333
		font-family: Raleway
		font-weight: 700
	&:hover
		border: 1px solid $purpure
// dosc block end

// advisor block start
.advisors
	// padding: 150px 0
	.block-header
		margin-bottom: 110px

.advisor
	text-align: center
	display: block
	&.ln
		&:after
			content: ''
			width: 45px
			height: 45px
			position: absolute
			top: 10px
			right: calc((100% - 190px) / 2)
			background-image: url(../img/linkedin.svg)
			z-index: 2
	&.g
		&:after
			content: ''
			width: 45px
			height: 45px
			position: absolute
			top: 10px
			right: calc((100% - 190px) / 2)
			background-image: url(../img/google-plus.svg)
			z-index: 2
	&.fb
		&:after
			content: ''
			width: 45px
			height: 45px
			position: absolute
			top: 10px
			right: calc((100% - 190px) / 2)
			background-image: url(../img/facebook.svg)
			z-index: 2
	&__avatar
		position: relative
		display: flex
		justify-content: center
		margin-bottom: 40px
	&__img
		width: 232px
		height: 232px
		display: block
		transition: 0.4s
		border-radius: 50%
	&__bg
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 1
	&__img
		position: relativez
		z-index: 2
	&__name
		color: #333333
		font-family: $Raleway
		font-weight: 700
		margin-bottom: 17px
	&__post
		font-size: 16px
		color: #888a8b
	&:hover
		.advisor__img
			transform: scale(0.95)
// advisor block end

// team block start
.team
	background-image: url(../img/team.jpg)
	background-repeat: no-repeat
	background-size: cover
	padding-bottom: 104px
	.block-header
		margin-bottom: 58px

.team-member
	display: flex
	flex-direction: column
	align-items: center
	margin-bottom: 46px
	position: relative
	&.ln
		&:before
			content: ''
			width: 23px
			height: 23px
			position: absolute
			top: 10px
			right: calc((100% - 110px) / 2)
			background-image: url(../img/linkedin.svg)
			z-index: 1
	&.g
		&:before
			content: ''
			width: 23px
			height: 23px
			position: absolute
			top: 10px
			right: calc((100% - 110px) / 2)
			background-image: url(../img/google-plus.svg)
			z-index: 1
	&.fb
		&:before
			content: ''
			width: 23px
			height: 23px
			position: absolute
			top: 10px
			right: calc((100% - 110px) / 2)
			background-image: url(../img/facebook.svg)
			z-index: 1
	&__avatar
		width: 110px
		height: 110px
		margin-bottom: 22px
		position: relative
		overflow: hidden
		border-radius: 50%
		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			transition: 0.4s
	&__name
		color: #ffffff
		margin-bottom: 10px
		font-family: $Catamaran
		fontw-weight: 700
	&__post
		color: #ffd3d7
		font-size: 16px
	&:hover
		.team-member__avatar img
			transform: scale(1.05)

	// team block end

// press block start
.press
	.block-header
		margin-bottom: 57px

.press-carousel
	&__item
		padding: 0 30px
	p
		font-size: 20px
		text-align: center
		color: #777777
		line-height: 30px
		margin-bottom: 43px
	&__item-logo
		display: flex
		justify-content: center
		img
			display: inline-block !important
			width: auto !important
			opacity: 0.24
			transition: 0.4s
			&:hover
				opacity: 0.5

// press block end

// news start
.news
	background-color: #fbfcfb
	.block-header
		margin-bottom: 40px

.news-carousel
	&__item
		padding: 40px 49px 36px 38px
		background-color: #fff
		transition: 0.4s
		display: block
		color: $black
		margin: 20px 0 70px
		&:hover
			box-shadow: 0 3px 27px rgba(0, 0, 0, 0.17)
			color: $black
	&__item-subtitle
		font-size: 16px
		color: #f4929b
		font-family: $Catamaran
		font-weight: 700
		margin-bottom: 24px
	&__item-title
		font-size: 20px
		font-family: $Raleway
		font-weight: 700
		line-height: 30px
		color: #333333
		margin-bottom: 25px
	p
		line-height: 30px
		margin-bottom: 25px
	&__item-data
		color: #bebebe
		font-size: 16px
		font-family: $Catamaran
		font-weight: 700

.owl-dots
	display: flex
	justify-content: center
	align-items: center

.owl-dot
	width: 10px
	height: 10px
	border-radius: 50%
	transition: 0.4s
	background-color: #dedede !important
	cursor: pointer
	margin-right: 10px
	&:last-child
		margin-right: 0
	&.active
		width: 12px
		height: 12px
		background-color: #f4929b !important
// news end

// subscribe start
.subscribe
	// height: 574px
	background-image: url(../img/partnersBg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	display: flex
	align-items: center
	.block-header
		margin-bottom: 68px
	&__form
		display: flex
		justify-content: center
		margin-bottom: 46px
	&__form-input
		width: 344px
		margin-right: 6px
	&__form-btn
		width: 86px
// subscribe end

// footer start
.footer
	padding: 96px 0 44px
	&__block
		display: flex
		justify-items: center
		align-items: flex-start
	&__text
		line-height: 30px
		color: #777777
	.logo
		margin-top: 3px
		margin-right: 40px
	&__list-item
		margin-bottom: 14px
		color: #777777
		white-space: nowrap
		&:last-child
			margin-bottom: 0

.footer-menu
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	&__item
		flex: 0 50%
		margin-bottom: 14px
	&__link
		color: #777777
		transition: 0.4s
		position: relative
		line-height: 1
		&:after
			content: ""
			position: absolute
			bottom: 4px	
			left: 0
			width: 100%
			border-bottom: 1px solid $purpure
			opacity: 0
		&:hover
			color: $purpure
			&:after
				opacity: 1

.copyright
	font-size: 16px
	line-height: 25px
	color: #bdbdbd
	padding-bottom: 65px
// footer end
@import "media" // Always at the end
