@font-face {
	font-family:'Qualcomm Next';
	src:	url('QualcommNext-ThinItalicWEB.eot')format('embedded-opentype');
	src:	url('QualcommNext-ThinItalicWEB.woff')format('woff'),
			url('QualcommNext-ThinItalicWEB.woff2')format('woff2'),
			url('QualcommNext-ThinItalicWEB.svg')format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family:'Qualcomm Next';
	src:	url('QualcommBoing-ThinWEB.eot')format('embedded-opentype');
	src:	url('QualcommBoing-ThinWEB.woff')format('woff'),
			url('QualcommBoing-ThinWEB.woff2')format('woff2'),
			url('QualcommBoing-ThinWEB.svg')format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family:'Qualcomm Next';
	src:	url('QualcommNext-ItalicWEB.eot')format('embedded-opentype');
	src:	url('QualcommNext-ItalicWEB.woff')format('woff'),
			url('QualcommNext-ItalicWEB.woff2')format('woff2'),
			url('QualcommNext-ItalicWEB.svg')format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'Qualcomm Next';
	src:	url('QualcommNext-RegularWEB.eot')format('embedded-opentype');
	src:	url('QualcommNext-RegularWEB.woff')format('woff'),
			url('QualcommNext-RegularWEB.woff2')format('woff2'),
			url('QualcommNext-RegularWEB.svg')format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Qualcomm Next';
	src:	url('QualcommNext-MediumItalicWEB.eot')format('embedded-opentype');
	src:	url('QualcommNext-MediumItalicWEB.woff')format('woff'),
			url('QualcommNext-MediumItalicWEB.woff2')format('woff2'),
			url('QualcommNext-MediumItalicWEB.svg')format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family:'Qualcomm Next';
	src:	url('QualcommNext-MediumWEB.eot')format('embedded-opentype');
	src:	url('QualcommNext-MediumWEB.woff')format('woff'),
			url('QualcommNext-MediumWEB.woff2')format('woff2'),
			url('QualcommNext-MediumWEB.svg')format('svg');
	font-weight: 500;
	font-style: normal;
}

